<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messagingAdapterConfiguration" type="Open.MOF.Messaging.Configuration.AdapterConfigurationSettings, Open.MOF.Messaging, Version=0.7.0.0, Culture=neutral, PublicKeyToken=84f26052e618af19" />
  </configSections>
  <messagingAdapterConfiguration>
    <adapterConfigurationItems>
      <add name="WcfClientMessagingDataAdapterDefinitionWSHttpBinding" adapterInterfaceName="DataService" adapterTypeName="Open.MOF.Messaging.Adapters.WcfClientMessagingAdapter, Open.MOF.Messaging, Version=0.7.0.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="WSHttpBinding_ITestDataService" preferenceNumber="1" />
      <add name="WcfClientMessagingDataAdapterDefinitionNetTcpBinding" adapterInterfaceName="DataService" adapterTypeName="Open.MOF.Messaging.Adapters.WcfClientMessagingAdapter, Open.MOF.Messaging, Version=0.7.0.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="NetTcpBinding_ITestDataService" preferenceNumber="3" />
      <add name="WcfClientMessagingDataAdapterDefinitionWSHttpBindingClientProxy" adapterInterfaceName="DataService" adapterTypeName="Open.MOF.Messaging.Adapters.WcfClientMessagingAdapter, Open.MOF.Messaging, Version=0.7.0.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="WSHttpBinding_ITestDataService_ClientProxy" preferenceNumber="4" />
      <add name="WcfClientMessagingDataAdapterDefinitionWSHttpBindingSimpleService" adapterInterfaceName="DataService" adapterTypeName="Open.MOF.Messaging.Adapters.WcfClientMessagingAdapter, Open.MOF.Messaging, Version=0.7.0.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="WSHttpBinding_ISimpleService" preferenceNumber="2" />
      <add name="WcfClientMessagingTransactionAdapterDefinition" adapterInterfaceName="TransactionService" adapterTypeName="Open.MOF.Messaging.Adapters.WcfClientMessagingAdapter, Open.MOF.Messaging, Version=0.7.0.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myTransactionServiceBinding" preferenceNumber="5" />
    </adapterConfigurationItems>
  </messagingAdapterConfiguration>
	<system.serviceModel>
		<bindings>
   <wsHttpBinding>
    <binding name="WSHttpBinding_ITestDataService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
     textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="Message">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true"
       algorithmSuite="Default" establishSecurityContext="true" />
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8931/WcfServiceProject/TestDataService/"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITestDataService"
    contract="Open.MOF.Messaging.Test.WcfService.ITestDataService"
    name="WSHttpBinding_ITestDataService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
      <endpoint address="http://localhost:8931/WcfServiceProject/SimpleService/"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITestDataService"
       contract="Open.MOF.Messaging.Test.WcfService.ISimpleService"
       name="WSHttpBinding_ISimpleService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8931/WcfServiceProject/TestDataService/"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITestDataService"
    contract="WcfServiceProxyReference.ITestDataService" name="WSHttpBinding_ITestDataService_ClientProxy">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:7631/WcfServiceProject/TestDataService/"
    binding="netTcpBinding" bindingConfiguration="" contract="Open.MOF.Messaging.Test.WcfService.ITestDataService"
    name="NetTcpBinding_ITestDataService" />
  </client>
		<services>
   <service behaviorConfiguration="WcfServiceProject.Service1Behavior"
    name="Open.MOF.Messaging.Test.WcfService.TestDataService">
    <clear />
    <endpoint binding="wsHttpBinding" name="ITestDataServiceHttp"
     contract="Open.MOF.Messaging.Test.WcfService.ITestDataService"
     listenUriMode="Explicit">
     <identity>
      <dns value="localhost" />
      <certificateReference storeName="My" storeLocation="LocalMachine"
       x509FindType="FindBySubjectDistinguishedName" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://localhost:7631/WcfServiceProject/TestDataService/"
     binding="netTcpBinding" bindingConfiguration="" name="ITestDataServiceTcp"
     contract="Open.MOF.Messaging.Test.WcfService.ITestDataService" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8931/WcfServiceProject/TestDataService/" />
     </baseAddresses>
    </host>
   </service>
      <service behaviorConfiguration="WcfServiceProject.Service1Behavior"
       name="Open.MOF.Messaging.Test.WcfService.SimpleService">
        <clear />
        <endpoint binding="wsHttpBinding" name="ISimpleServiceHttp"
         contract="Open.MOF.Messaging.Test.WcfService.ISimpleService"
         listenUriMode="Explicit">
          <identity>
            <dns value="localhost" />
            <certificateReference storeName="My" storeLocation="LocalMachine"
             x509FindType="FindBySubjectDistinguishedName" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8931/WcfServiceProject/SimpleService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WcfServiceProject.Service1Behavior">
					<!-- To avoid disclosing metadata information, 
						  set the value below to false and remove the metadata endpoint above before deployment -->
					<!-- <serviceMetadata httpGetEnabled="True"/> -->
					<!-- To receive exception details in faults for debugging purposes, 
						  set the value below to true.  Set to false before deployment 
						  to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>