<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="messagingAdapterConfiguration" type="Open.MOF.Messaging.Configuration.AdapterConfigurationSettings, Open.MOF.Messaging, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19"/>
  </configSections>
  <messagingAdapterConfiguration>
    <adapterConfigurationItems>
      <add name="EsbOneWayMessagingAdapterDefinition" adapterInterfaceName="TransactionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbMessagingAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myOneWayMessagingServiceBinding" preferenceNumber="2"/>
      <add name="EsbOneWayBundledMessagingAdapterDefinition" adapterInterfaceName="TransactionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbMessagingAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myOneWayBundledMessagingServiceBinding" preferenceNumber="4"/>
      <add name="EsbTwoWayMessagingAdapterDefinition" adapterInterfaceName="TransactionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbMessagingAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myTwoWayMessagingServiceBinding" preferenceNumber="3"/>
      <add name="EsbTwoWayBundledMessagingAdapterDefinition" adapterInterfaceName="TransactionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbMessagingAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myTwoWayBundledMessagingServiceBinding" preferenceNumber="5"/>
      <add name="EsbQueuedMessagingAdapterDefinition" adapterInterfaceName="TransactionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbMessagingAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myQueuedMessagingServiceBinding" preferenceNumber="12"/>
      <add name="BizTalkTwoWayMessagingAdapterDefinition" adapterInterfaceName="TransactionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbMessagingAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="biztalkTwoWayMessagingServiceBinding" preferenceNumber="15"/>
      <add name="BizTalkTwoWaySoapMessagingAdapterDefinition" adapterInterfaceName="TransactionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbMessagingAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="biztalkTwoWaySoapMessagingServiceBinding" preferenceNumber="18"/>
      <!-- <add name="AddressedEsbMessagingAdapterDefinition" adapterInterfaceName="TransactionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbMessagingAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="WSHttpBinding_ITwoWayAsyncVoidAddressed" preferenceNumber="2" />  -->
      <!-- <add name="PubSubMessagingAdapterSubscriptionDefinition" adapterInterfaceName="SubscriptionService" adapterTypeName="Open.MOF.BizTalk.Adapters.PubSubMessagingAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myPubSubServiceBinding" preferenceNumber="1" /> -->
      <add name="EsbExceptionAdapterDefinition" adapterInterfaceName="ExceptionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbExceptionAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myExceptionServiceBinding" preferenceNumber="4"/>
      <add name="EsbQueuedExceptionAdapterDefinition" adapterInterfaceName="ExceptionService" adapterTypeName="Open.MOF.BizTalk.Adapters.EsbExceptionAdapter, Open.MOF.BizTalk, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myQueuedExceptionServiceBinding" preferenceNumber="14"/>
      <add name="EsbItinarayLookupServiceTcpDefinition" adapterInterfaceName="DataService" adapterTypeName="Open.MOF.Messaging.Adapters.WcfClientMessagingAdapter, Open.MOF.Messaging, Version=0.8.0, Culture=neutral, PublicKeyToken=84f26052e618af19" channelEndpointName="myItineraryLookupServiceBinding" preferenceNumber="1"/>
    </adapterConfigurationItems>
  </messagingAdapterConfiguration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ProcessSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netMsmqBinding>
        <binding name="SecuredNetMsmqBinding">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
      <netTcpBinding>
        <binding name="SecuredNetTcpBinding">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITwoWayAsyncVoid" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_ITwoWayAsync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_ITwoWayAsyncVoid1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_ITwoWayAsync1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="wsHttpBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_ITwoWayAsyncVoid2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IMessagingCallback" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="anonymousWSHttpBinding" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://jkita34943:8001/ESB.ItineraryServices.Response.WCF/ProcessItinerary.svc" binding="wsHttpBinding" bindingConfiguration="anonymousWSHttpBinding" contract="MOF.BizTalkESB.IProcessRequestResponse" name="biztalkTwoWayMessagingServiceBinding"/>
      <endpoint address="net.tcp://localhost:7931/WcfTestStubs/EsbOneWayMessagingService/" binding="netTcpBinding" bindingConfiguration="" contract="MOF.BizTalkESB.IProcessRequest" name="myOneWayMessagingServiceBinding"/>
      <endpoint address="net.tcp://localhost:7937/WcfTestStubs/EsbOneWayBundledMessagingService/" binding="netTcpBinding" bindingConfiguration="" contract="MOF.BizTalkESB.Bundled.IProcessRequest" name="myOneWayBundledMessagingServiceBinding"/>
      <endpoint address="net.tcp://localhost:7933/WcfTestStubs/EsbTwoWayMessagingService/" binding="netTcpBinding" bindingConfiguration="" contract="MOF.BizTalkESB.IProcessRequestResponse" name="myTwoWayMessagingServiceBinding"/>
      <endpoint address="net.tcp://localhost:7939/WcfTestStubs/EsbTwoWayBundledMessagingService/" binding="netTcpBinding" bindingConfiguration="" contract="MOF.BizTalkESB.Bundled.IProcessRequestResponse" name="myTwoWayBundledMessagingServiceBinding"/>
      <endpoint address="net.tcp://localhost:7935/WcfTestStubs/EsbExceptionService/" binding="netTcpBinding" bindingConfiguration="" contract="MOF.BizTalkESB.IExceptionHandling" name="myExceptionServiceBinding"/>
      <endpoint address="net.msmq://localhost/private/ESBMessageQueue" binding="netMsmqBinding" bindingConfiguration="SecuredNetMsmqBinding" contract="MOF.BizTalkESB.Queued.IProcessRequest" name="myQueuedMessagingServiceBinding">
        <identity>
          <userPrincipalName value="host/jkita34943"/>
        </identity>
      </endpoint>
      <endpoint address="net.msmq://localhost/private/ESBExceptionQueue" binding="netMsmqBinding" bindingConfiguration="SecuredNetMsmqBinding" contract="MOF.BizTalkESB.Queued.IExceptionHandling" name="myQueuedExceptionServiceBinding">
        <identity>
          <userPrincipalName value="host/jkita34943.ad.analysts.com"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/MOF.ItineraryLookupService/ItineraryLookupService.svc" binding="wsHttpBinding" bindingConfiguration="anonymousWSHttpBinding" contract="MOF.BizTalkESB.IItineraryLookupService" name="myItineraryLookupServiceBinding"/>
      <endpoint address="net.tcp://localhost/ItineraryLookupService/ItineraryLookupService.svc" binding="netTcpBinding" bindingConfiguration="" contract="MOF.BizTalkESB.IItineraryLookupService" name="myItineraryLookupServiceTcpBinding"/>
      <endpoint address="http://localhost:8881/MessagingCallback/MessagingCallbackService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMessagingCallback" contract="WcfMessagingCallbackService.IMessagingCallback.IMessagingCallback" name="WSHttpBinding_IMessagingCallback">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://jkita34943:8001/ESB.ItineraryServices.Response/ProcessItinerary.asmx" binding="basicHttpBinding" bindingConfiguration="ProcessSoap" contract="MOF.BizTalkESB.IProcessSoap" name="biztalkTwoWaySoapMessagingServiceBinding"/>
    </client>
    <services>
      <service behaviorConfiguration="WcfServiceProject.Service1Behavior" name="Open.MOF.BizTalk.Test.TestStubs.EsbServiceImpl">
        <clear/>
        <endpoint address="net.tcp://localhost:7931/WcfTestStubs/EsbOneWayMessagingService/" binding="netTcpBinding" bindingConfiguration="" name="EsbOneWayMessagingServiceTcp" contract="Open.MOF.BizTalk.Test.TestStubs.ItineraryOneWayService.IProcessRequest"/>        
        <endpoint address="net.tcp://localhost:7933/WcfTestStubs/EsbTwoWayMessagingService/" binding="netTcpBinding" bindingConfiguration="" name="EsbTwoWayMessagingServiceTcp" contract="Open.MOF.BizTalk.Test.TestStubs.ItineraryTwoWayService.IProcessRequestResponse"/>        
        <endpoint address="net.tcp://localhost:7935/WcfTestStubs/EsbExceptionService/" binding="netTcpBinding" bindingConfiguration="" name="EsbExceptionServiceTcp" contract="Open.MOF.BizTalk.Test.TestStubs.EsbExceptionService.IExceptionHandling"/>
      </service>
      <service behaviorConfiguration="WcfServiceProject.Service1Behavior" name="Open.MOF.BizTalk.Test.TestStubs.Bundled.EsbServiceImpl">
        <clear/>
        <endpoint address="net.tcp://localhost:7937/WcfTestStubs/EsbOneWayBundledMessagingService/" binding="netTcpBinding" bindingConfiguration="" name="EsbOneWayBundledMessagingServiceTcp" contract="Open.MOF.BizTalk.Test.TestStubs.Bundled.ItineraryOneWayService.IProcessRequest"/>
        <endpoint address="net.tcp://localhost:7939/WcfTestStubs/EsbTwoWayBundledMessagingService/" binding="netTcpBinding" bindingConfiguration="" name="EsbTwoWayBundledMessagingServiceTcp" contract="Open.MOF.BizTalk.Test.TestStubs.Bundled.ItineraryTwoWayService.IProcessRequestResponse"/>
      </service>
        <service behaviorConfiguration="WcfServiceProject.Service1Behavior" name="Open.MOF.BizTalk.Test.TestStubs.Queued.EsbServiceImpl">
        <clear/>
        <endpoint address="net.msmq://localhost/private/ESBMessageQueue" binding="netMsmqBinding" bindingConfiguration="SecuredNetMsmqBinding" contract="Open.MOF.BizTalk.Test.TestStubs.Queued.ItineraryOneWayService.IProcessRequest"/>        
        <endpoint address="net.msmq://localhost/private/ESBExceptionQueue" binding="netMsmqBinding" bindingConfiguration="SecuredNetMsmqBinding" contract="Open.MOF.BizTalk.Test.TestStubs.Queued.EsbExceptionService.IExceptionHandling" name="EsbExceptionServiceMsmq"/>
      </service>
      <service behaviorConfiguration="WcfServiceProject.Service1Behavior" name="Open.MOF.BizTalk.Test.TestStubs.TestItineraryLookupService">
        <clear/>
        <endpoint address="net.tcp://localhost:7941/WcfTestStubs/EsbItineraryLookupService/" binding="netTcpBinding" bindingConfiguration="" name="EsbItineraryLookupServiceTcp" contract="Open.MOF.BizTalk.Test.TestStubs.ItineraryLookupService.EsbItineraryLookup"/>
      </service>
      <service behaviorConfiguration="WcfServiceProject.Service1Behavior" name="Open.MOF.Messaging.Callback.WcfService.WcfMessagingCallbackService">
        <clear/>
        <endpoint address="http://localhost:8881/MessagingCallback/MessagingCallbackService/" binding="wsHttpBinding" bindingConfiguration="" name="WcfMessagingCallbackService" contract="MOF.Messaging.IMessagingCallback"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceProject.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
						  set the value below to false and remove the metadata endpoint above before deployment -->
          <!-- <serviceMetadata httpGetEnabled="True"/> -->
          <!-- To receive exception details in faults for debugging purposes, 
						  set the value below to true.  Set to false before deployment 
						  to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
