<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messagingAdapterConfiguration" type="Open.MOF.Messaging.Configuration.AdapterConfigurationSettings, Open.MOF.Messaging, Version=0.7.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <messagingAdapterConfiguration>
    <adapterConfigurationItems>
      <add name="EsbItinarayLookupServiceTcpDefinition" adapterInterfaceName="DataService" adapterTypeName="Open.MOF.Messaging.Adapters.WcfClientMessagingAdapter, Open.MOF.Messaging, Version=0.7.0.0, Culture=neutral, PublicKeyToken=null" channelEndpointName="myItineraryLookupServiceTcpBinding" preferenceNumber="1" />
    </adapterConfigurationItems>
  </messagingAdapterConfiguration>
  <system.serviceModel>
    <bindings>
    </bindings>
    <client>
      <endpoint address="http://localhost:8001/ItineraryLookupService/ItineraryLookupService.svc"
        binding="wsHttpBinding" bindingConfiguration="" contract="Open.MOF.BizTalk.Adapters.MessageHandlers.IItineraryLookupService"
        name="myItineraryLookupServiceBinding" /> 
      <endpoint address="net.tcp://localhost/ItineraryLookupService/ItineraryLookupService.svc"
        binding="netTcpBinding" bindingConfiguration="" contract="Open.MOF.BizTalk.Adapters.MessageHandlers.IItineraryLookupService"
        name="myItineraryLookupServiceTcpBinding" />
    </client>
  </system.serviceModel>
  </configuration>