<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <add name="ItineraryDBConnection" connectionString="Data Source=.\SQL2008;Initial Catalog=ProofOfConcept;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Open.MOF.BizTalk.ItineraryLookupService.Service1Behavior"
        name="Open.MOF.BizTalk.ItineraryLookupService.ItineraryLookupService">
        <endpoint address="" binding="wsHttpBinding" contract="MOF.BizTalkESB.IItineraryLookupService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!--` <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Open.MOF.BizTalk.ItineraryLookupService/Service1/" />
          </baseAddresses>
        </host>-->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" 
                  contract="MOF.BizTalkESB.IItineraryLookupService">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Open.MOF.BizTalk.ItineraryLookupService.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
