<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
              type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration, Version=1.1.0.0,
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- <section name="messagingServiceConfiguration" type="Open.MOF.Messaging.Configuration.ServiceConfigurationSettings, Open.MOF.Messaging, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" /> -->
  </configSections>
  
  <unity>
    <typeAliases>

      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
           type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />
      <typeAlias alias="external"
           type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
               Microsoft.Practices.Unity" />

      <!-- User-defined type aliases -->
      <typeAlias alias="MessagingService"
           type="Open.MOF.Messaging.Services.MessagingService, Open.MOF.Messaging" />
      <typeAlias alias="WcfClientMessagingService"
           type="Open.MOF.Messaging.Services.WcfClientMessagingService, Open.MOF.Messaging" />

    </typeAliases>

    <containers>

      <container>
        
        <types>

            <!-- Lifetime managers specified using the type aliases -->
          <!-- Object with injection parameters defined in configuration -->
          <type type="MessagingService" mapTo="WcfClientMessagingService" name="TransactionServiceType">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,
                                       Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="serviceBindingName" parameterType="System.String, mscorlib">
                  <value value="myTransactionServiceBinding" type="System.String, mscorlib" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <!-- Lifetime managers specified using the type aliases -->
          <!-- Object with injection parameters defined in configuration -->
          <type type="MessagingService" mapTo="WcfClientMessagingService" name="DataServiceType">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,
                                       Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="serviceBindingName" parameterType="System.String, mscorlib">
                  <value value="myDataServiceBinding" type="System.String, mscorlib" />
                </param>
              </constructor>
            </typeConfig>
          </type>
          
        </types>

      </container>
      
    </containers>
    
  </unity>


      <!--
  <messagingServiceConfiguration>
    <serviceConfigurationItems>
      <add name="WcfClientMessagingService" serviceInterfaceName="DataService" serviceTypeName="Open.MOF.Messaging.Services.WcfClientMessagingService, Open.MOF.Messaging, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="1" />
    </serviceConfigurationItems>
  </messagingServiceConfiguration>
  -->
</configuration>