<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messagingServiceConfiguration" type="Open.MOF.Messaging.Configuration.ServiceConfigurationSettings, Open.MOF.Messaging, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <messagingServiceConfiguration>
    <serviceConfigurationItems>
      <add name="WcfClientMessagingService" serviceInterfaceName="DataService" serviceTypeName="Open.MOF.Messaging.Services.WcfClientMessagingService, Open.MOF.Messaging, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="1" />
    </serviceConfigurationItems>
  </messagingServiceConfiguration>
</configuration>