<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messagingServiceConfiguration" type="Open.MOF.Messaging.Configuration.ServiceConfigurationSettings, Open.MOF.Messaging, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <messagingServiceConfiguration>
    <serviceConfigurationItems>
      <add name="EsbMessagingServiceDefinition" serviceInterfaceName="TransactionService" serviceTypeName="Open.MOF.BizTalk.Services.EsbMessagingService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" channelEndpointName="myTransactionServiceBinding" preferenceNumber="1" />
      <add name="PubSubMessagingServiceSubscriptionDefinition" serviceInterfaceName="SubscriptionService" serviceTypeName="Open.MOF.BizTalk.Services.PubSubMessagingService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" channelEndpointName="myPubSubServiceBinding" preferenceNumber="1" />
      <add name="EsbExceptionServiceDefinition" serviceInterfaceName="ExceptionService" serviceTypeName="Open.MOF.BizTalk.Services.EsbExceptionService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" channelEndpointName="myExceptionServiceBinding" preferenceNumber="1" />
    </serviceConfigurationItems>
  </messagingServiceConfiguration>
</configuration>