<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
              type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration, Version=1.1.0.0,
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- <section name="messagingServiceConfiguration" type="Open.MOF.Messaging.Configuration.ServiceConfigurationSettings, Open.MOF.Messaging, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" /> -->
  </configSections>

  <unity>
    <typeAliases>

      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
           type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />
      <typeAlias alias="external"
           type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
               Microsoft.Practices.Unity" />

      <!-- User-defined type aliases -->
      <typeAlias alias="MessagingService"
           type="Open.MOF.Messaging.Services.MessagingService, Open.MOF.Messaging" />
      <typeAlias alias="EsbMessagingService"
           type="Open.MOF.BizTalk.Services.EsbMessagingService, Open.MOF.BizTalk" />
      <typeAlias alias="PubSubMessagingService"
           type="Open.MOF.BizTalk.Services.PubSubMessagingService, Open.MOF.BizTalk" />
      <typeAlias alias="EsbExceptionService"
           type="Open.MOF.BizTalk.Services.EsbExceptionService, Open.MOF.BizTalk" />

    </typeAliases>

    <containers>

      <container>

        <types>

          <!-- Lifetime managers specified using the type aliases -->
          <!-- Object with injection parameters defined in configuration -->
          <type type="MessagingService" mapTo="EsbMessagingService" name="TransactionServiceType">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,
                                       Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="serviceBindingName" parameterType="System.String, mscorlib">
                  <value value="myTransactionServiceBinding" type="System.String, mscorlib" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <!-- Lifetime managers specified using the type aliases -->
          <!-- Object with injection parameters defined in configuration -->
          <type type="MessagingService" mapTo="PubSubMessagingService" name="SubscriptionServiceType">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,
                                       Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="serviceBindingName" parameterType="System.String, mscorlib">
                  <value value="myPubSubServiceBinding" type="System.String, mscorlib" />
                </param>
              </constructor>
            </typeConfig>
          </type>

          <!-- Lifetime managers specified using the type aliases -->
          <!-- Object with injection parameters defined in configuration -->
          <type type="MessagingService" mapTo="EsbExceptionService" name="ExceptionServiceType">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,
                                       Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="serviceBindingName" parameterType="System.String, mscorlib">
                  <value value="myExceptionServiceBinding" type="System.String, mscorlib" />
                </param>
              </constructor>
            </typeConfig>
          </type>

        </types>

      </container>

    </containers>

  </unity>

  <!--
  <messagingServiceConfiguration>
    <serviceConfigurationItems>
      <add name="EsbMessagingService" serviceInterfaceName="TransactionService" serviceTypeName="Open.MOF.BizTalk.Services.EsbMessagingService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="1" />
      <add name="PubSubMessagingServiceSubscription" serviceInterfaceName="SubscriptionService" serviceTypeName="Open.MOF.BizTalk.Services.PubSubMessagingService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="1" />
      <add name="PubSubMessagingServiceTransaction" serviceInterfaceName="TransactionService" serviceTypeName="Open.MOF.BizTalk.Services.PubSubMessagingService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="2" />
      <add name="EsbExceptionService" serviceInterfaceName="ExceptionService" serviceTypeName="Open.MOF.BizTalk.Services.EsbExceptionService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="1" />
    </serviceConfigurationItems>
  </messagingServiceConfiguration>
  -->
</configuration>