<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messagingServiceConfiguration" type="Open.MOF.Messaging.Configuration.ServiceConfigurationSettings, Open.MOF.Messaging, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <messagingServiceConfiguration>
    <serviceConfigurationItems>
      <add name="EsbMessagingService" serviceInterfaceName="TransactionService" serviceTypeName="Open.MOF.BizTalk.Services.EsbMessagingService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="1" />
      <add name="PubSubMessagingServiceSubscription" serviceInterfaceName="SubscriptionService" serviceTypeName="Open.MOF.BizTalk.Services.PubSubMessagingService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="1" />
      <add name="PubSubMessagingServiceTransaction" serviceInterfaceName="TransactionService" serviceTypeName="Open.MOF.BizTalk.Services.PubSubMessagingService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="2" />
      <add name="EsbExceptionService" serviceInterfaceName="ExceptionService" serviceTypeName="Open.MOF.BizTalk.Services.EsbExceptionService, Open.MOF.BizTalk, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null" serviceBindingName="" preferenceNumber="1" />
    </serviceConfigurationItems>
  </messagingServiceConfiguration>
</configuration>